.project-field {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;

  border-bottom: 3px solid #f8f8f8;
  border-left: 3px solid #f8f8f8;
  background-color: white;
  height: 40px;
  padding: 0 20px 0 20px;

  h5 {
    display: block;
    margin: 10px 0 0 0;
    /* text-align: center; */
  }
  .ckeckBlock {
    display: flex;
  }
  .check {
    display: flex;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
  }
  .deteButton {
    margin: 10px;
  }
}
