.log-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
}

.log-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #83183d;
  border-radius: 5px;
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
}

.x {
  height: 32px;
  top: 20px;
  right: 20px;
}

.x:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.googleAuthButton {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 50px;
  width: 280px;
  margin-top: 30px;
  padding: 20px 10px;
  .googleIcon {
    height: 24px;
    width: 24px;
  }
}

.googleAuthButton:hover {
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
