@import "../../index.scss";

.project-container {
  display: flex;
  flex-direction: column;
}

.project-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid $borderColor;
  border-left: 3px solid $borderColor;
  background-color: white;
  height: 50px;
}

.project-menu div {
  // margin: 0 20px 0 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 700;
  color: $textColor;
}

.button:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: $cerryColor;
}
